.button {
	padding: 5px 10px;
	margin: 1px;
	cursor: pointer;
	border-radius: 5px;
	font-weight: 600;
	font-size: 15px;
	border: 2px solid #fffa61;
	background: transparent;
	color: #fffa61;
	transition-property: background, color, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	&:active {
		transform: scale(0.95);
	}
	&:hover {
		box-shadow: 0px 1px 5px #fffdce;
		background: #fffa61;
		color: #1c1c1c;
	}
}

.primary {
	background: #fffa61;
	color: #1c1c1c;

	&:hover {
		box-shadow: inset 0px 0px 5px #7e7e7e;
		background: #fff;
		color: #1c1c1c;
	}
}
.active {
	box-shadow: inset 0px 0px 5px #7e7e7e;
	background: #00172b;
	color: #e4e4e4;
}

.button_container {
	background: #fffa61;
	width: fit-content;
	padding: 2px 4px;
	border-radius: 5px;
}
.delete {
	border-color: #ff1d1de0;
	color: #ff1d1de0;
	&:hover {
		background: #ff2c2c85;
		color: #ffffff;
		box-shadow: 0px 0px 5px transparent;
	}
}
