.form_container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.input {
	outline: 0;
	text-align: center;
	margin: 5px 0;
	width: 80%;
	padding: 4px 10px;
	border-radius: 5px;
	background: var(--secondary);
	border: 2px solid #fffa61;
	font-size: 1rem;
	transition: all 0.3s ease-in;
	cursor: pointer;
	color: var(--primary);
	&:focus {
		color: #fff;
		background: var(--primary);
		cursor: text;

		&::placeholder {
			color: transparent;
		}
	}

	&::placeholder {
		text-align: center;
		font-weight: 600;
		color: var(--primary);
	}
}
.form_btn {
	margin-top: 20px;
}
