.pagination_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.pagination_btn {
	&:hover {
		box-shadow: inset 0px 1px 5px #7e7e7e;
		background: #fff;
		color: #1c1c1c;
	}
}

.set_pagination {
	width: fit-content;
}
