.search {
	width: fit-content;
	margin: 10px;
}

.select {
	width: fit-content;
	padding: 2px 5px;
	outline: 0;
	margin: 10px 5px;
	cursor: pointer;
	color: var(--secondary);
	&:hover {
		background: transparent;
		color: var(--secondary);
		cursor: pointer;
	}
	option {
		width: 6%;
		border-radius: 5px;
		color: var(--secondary);
		background: var(--primary);
	}
}
.filter {
	width: fit-content;
	display: flex;
	align-items: center;
	border-radius: 5px;
	padding: 0px;
	height: fit-content;
	span {
		margin-left: 5px;
	}
	.radio {
		margin: 5px;
		input {
			cursor: pointer;
			margin: 4px;
		}
		label {
			margin: 4px;
			cursor: pointer;
		}
	}
}
