.table_container {
	display: flex;
	align-items: center;
	justify-content: center;
	h3 {
		font-size: 30px;
		margin: 30px;
	}
}

table {
	margin: 10px 0;
	width: 90%;
	border-collapse: collapse;
}
td,
th {
	border: 1px solid #faf874;
	text-align: center;
	padding: 5px;
}

.add_btn {
	background: #6dff33;
	color: var(--primary);
	border-color: #6dff33;
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-weight: 700;
	font-size: 22px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	&:hover {
		color: #6dff33;
		border-color: #6dff33;
		background: var(--primary);
	}
}
.table_button_container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 5px;
}
@media (min-width: 600px) {
	.table_button_container {
		justify-content: center;
	}
}
