* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	user-select: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--primary);
	color: var(--white);
}

:root {
	--primary: #00172b;
	--secondary: #fffa61;
	--white: #fff;
	--danger: #f33e3e;
}
